<div class="row">
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-12">
                <form (ngSubmit)="onSubmit()" [formGroup]="shoppingForm">
                    <div class="row">
                        <div class="col-sm-5 form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" formControlName="name" >
                            <div *ngIf="shoppingForm.controls['name'].invalid && shoppingForm.controls['name'].touched">
                                <div *ngIf="shoppingForm.controls['name'].errors">
                                This Field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" id="amount" formControlName="amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success" type="submit" [disabled]="!shoppingForm.valid">{{editMode ?'Update':'Add'}}</button>
                            <button class="btn btn-danger" *ngIf="editMode" type="button" (click)="onDelete()">Delete</button>
                            <button class="btn btn-primary" type="button" (click)="resetForm()">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <hr>
        <ul class="list-group">
            <a class="list-group-item" *ngFor="let ingredient of ingredients;" (click)="onEditItem(ingredient.id)" style="cursor: pointer;">
            {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </ul>
    </div>
</div>

